// SPDX-License-Identifier: GPL-2.0+
/*
 * Custom RK3326 R36S Clone Board
 */

 #include "rk3326.dtsi"
 #include "rk3326-evb-lp3-v10.dtsi"
 
  / {
	  model = "R36S Clone Handheld";
	  compatible = "r36s-clone", "rockchip,rk3326";
 
	  panel@0 {
		  compatible = "sitronix,st7703", "simple-panel-dsi";
		  reg = <0x00>;
		  backlight = <0x9e>;
		  power-supply = <0x9f>;
		  prepare-delay-ms = <0x14>;
		  reset-delay-ms = <0x14>;
		  init-delay-ms = <0x14>;
		  enable-delay-ms = <0x78>;
		  disable-delay-ms = <0x14>;
		  unprepare-delay-ms = <0x14>;
		  width-mm = <0x99>;
		  height-mm = <0x55>;
		  dsi,flags = <0xa03>;
		  dsi,format = <0x00>;
		  dsi,lanes = <0x04>;
		  panel-init-sequence = [39 00 04 b9 f1 12 83 ...]; // trimmed for brevity
		  panel-exit-sequence = <0x5000128 0x5000110>;
		  reset-gpios = <0x66 0x0f 0x01>;
 
		  display-timings {
			  native-mode = <0xa0>;
			  timing0 {
				  clock-frequency = <0x1c9c380>;
				  hactive = <0x280>;
				  vactive = <0x1e0>;
				  hfront-porch = <0x96>;
				  hsync-len = <0x32>;
				  hback-porch = <0x96>;
				  vfront-porch = <0x14>;
				  vsync-len = <0x06>;
				  vback-porch = <0x0c>;
				  hsync-active = <0x00>;
				  vsync-active = <0x00>;
				  de-active = <0x00>;
				  pixelclk-active = <0x00>;
				  phandle = <0xa0>;
			  };
		  };
 
		  ports {
			  #address-cells = <0x01>;
			  #size-cells = <0x00>;
			  port@0 {
				  reg = <0x00>;
				  endpoint {
					  remote-endpoint = <0xa1>;
					  phandle = <0x9d>;
				  };
			  };
		  };
	  };
  };